<%- include("partials/header.ejs") %>

<h1>Todo List</h1>
    <ul>
       for (const todo of todos) { 
        <li> todo </li>
      } 
    </ul>
    <form action="/add" method="post">
      <input type="text" name="todo" placeholder="Add a new todo">
      <input type="submit" value="Add">
    </form>

<%- include("partials/footer.ejs") %>