<%- include("partials/header.ejs") %>

<h1>Todo List</h1>
<div class="task">
  <ul id="taskItems">
 <% tasks.forEach( (taskList)=>{ %> 
    
        <li id="tasklist"> <%= taskList %> </li>
  
   
<%  }

); 
%>
</ul>
 
 
 </div>
 <div class="add-form">
  <form action="/add" method="post">
    <input type="text" name="todo" placeholder="Add a new todo">
    <input type="submit" value="Add">
  </form>

 </div>
 

   

<%- include("partials/footer.ejs") %>