
.task{
    width: 100%;
    display: flex;
 
    justify-content: center;
}
#taskItems {
    justify-content: center; /* Align the list horizontally at the center */
    align-items: center; /* Align the list vertically at the center */
    /* Additional styles for the list if needed */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 70%;
    text-align: center;
  }
  
  #taskItems li {
    /* Optional styles for individual list items */
    background: linear-gradient(135deg, #ff6b6b, #55c4f5);
    color: white;
    padding: 10px;
    border: 1px solid #543175;
    border-radius: 5px;
  }
  

.add-form{
    width: 100%;
    display: flex;
    justify-content: center;
}

  
#taskinput{
  width: 600px; /* Set the desired width in pixels or any other valid CSS unit */
  /* Additional styles for the input field if needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#submitbutton{
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
}